h1 {
    color: #efeee7;
    text-align: center;
}

body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    text-decoration-color: #eee;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px  
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#bio-image{
    width: 200px;
    margin-right: 30px;
    padding: 0;
}

#main-bio {
    width: 70%
}

#contact-info {
    width: 30%
}

#main-bio, #contact-info {
    line-height: 1.5
}

.links {
    color: #d21034;
}